body {
    background-image: url(img.jpg);
  }

  .nihongo {
    background-color: #333;
    color: white;
    width: 50%;
    height: 100%;
    border-radius: 30px;
    margin: 40px auto;
    padding: 10px 30px;
    box-shadow: 15px 15px 30px 5px black;
  }

  .nihongo p {
    font-size: 1.8rem;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nihongo h1 {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    cursor: pointer;
  }

  .nihongo h1:hover {
    color: red;
  }

  .nihongo .kotak:first-of-type {
    margin-right: 25px;
  }

  .nihongo .kotak:last-of-type {
    margin-left: 30px;
  }

  .nihongo .kotak {
    background-color: white;
    width: 80px;
    height: 50px;
    margin-top: 88px;
    box-shadow: 10px 10px 10px black;
  }
  
  .nihongo .bulat {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 10px;
  }

  .nihongo nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nihongo nav ul li {
    color: red;
  }

  .nihongo nav ul li a, .nihongo div a {
    color: white;
    text-decoration: none;
    font-size: 1.15rem;
  }

  .nihongo nav ul li a:hover, .nihongo div a:hover {
    color: red;
  }

  .nihongo .link-home {
    background-color: transparent;
    border: 2px solid white;
    width: 110px;
    height: 40px;
    border-radius: 30px;
  }

  .nihongo div a {
    margin-left: 20px;
    line-height: 40px;
    font-size: 1.5rem;
  }

  .nihongo p.copyright {
    font-size: 1rem;
    text-align: center;
    margin-bottom: -5px;
  }